{% extends 'model-page.html'%}

{% block content %}

    <h2>Evento</h2>

    <form action="submit" method="POST">{% csrf_token %}
        <label>Título: </label>
        <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
        <br>
        <input type="text" name="titulo" size="24" value="{{ evento.titulo }}">
        <br> <br>
        <label>Data do Evento: </label>
        <br>
        <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
        <br><br>
        <label>Descrição: </label>
        <br>
        <textarea name="descricao" rows="5" cols="24">{{ evento.descricao }}</textarea>
        <br><br>
        <label>Local: </label>
        <br>
        <input type="text" name="local_evento" value="{{ evento.local_evento }}">
        <br><br>
        <button type="submit">Salvar</button>
        <br> <br>
        <a href="/">
            <button type="button">Cancelar</button>
        </a>
    </form>

{% endblock %}